{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'booknow.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Now</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Play&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>
<body>
    <header>
        
        <a href="{% url 'home' %}"><img class="logo" src="../static/images/logo.jpeg"></a>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'booknow' %}">Book Now</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <!-- <a class="signreg-btn" href="#"> <button>Sign in</button>  </a> --->
    </header>

<!---- Footer ---->
<div class="progress-tab-bar-section">
  <form action="#" class="form">
      <h1 class="text-center">Massage Booking Form</h1>
      <!-- Progress bar -->
      <div class="progressbar">
        <div class="progress" id="progress"></div>
        
        <div
          class="progress-step progress-step-active"
          data-title="Billing Info"
        ></div>
        <div class="progress-step" data-title="Massage Offers and Schedule"></div>
        <div class="progress-step" data-title="Payment"></div>
        <!-- <div class="progress-step" data-title="Summary"></div> --->
      </div>

      <!-- Steps -->
      <div id="error"></div>
      <div class="form-step form-step-active" id="infoForm">
        <div class="input-group">
          <label for="fullname" class="required">Full Name</label>
          <input type="text" name="fullname" id="fullname" value="" required/>
        </div>
        <div class="input-group">
          <label for="address" class="required">Address</label>
          <input type="text" name="address" id="address" required/>
        </div>
        <div class="input-group">
          <label for="ssn">SSN Number (Optional)</label>
          <input type="number" name="ssn" id="ssn" />
        </div>
        <div class="input-group">
          <label for="phonenumber" class="required">Phone Number</label>
          <input type="number" name="phonenumber" id="phonenumber" required/>
        </div>
        <div class="input-group">
          <label for="email" class="required">Email</label>
          <input type="email" name="email" id="email" required/>
        </div>
        <div class="input-group">
          <label for="password" class="required">Password</label>
          <input type="password" name="password" id="password"/>
        </div>
        <div class="">
          <a class="btn btn-next width-50 ml-auto" type="submit">
            <button type="submit">Next</button>
          </a>
        </div>
        <button type="submit">Submit</button>
      </div>
      <div class="form-step">
        <div class="input-group">
          <label for="offer" class="required">Offers</label>
          
          
          <label class="container">1 hour of massage for only €150
            <input type="radio" name="offers" id="offersR1">
            <span class="checkmark"></span>
          </label>
          
          <label class="container">2 hours of massage for only €200
            <input type="radio" name="offers" id="offersR2">
            <span class="checkmark"></span>
          </label>
          
          <label class="container">3 hours and 30 minutes of massage for only €250
            <input type="radio" checked="checked" name="offers" id="offersR3">
            <span class="checkmark"></span>
          </label>
          <label for="scheddate" class="required">Schedule Date</label>
          <input type="date" name="scheddate" id="scheddate" required/>
        </div>
        <div class="input-group">
          <label for="time" class="required">Stating Time</label>
          <input type="time" name="time" id="time" required/>
        </div>
        <div class="btns-group">
          <a href="#" class="btn btn-prev">Previous</a>
          <a class="btn btn-next" type="submit">
            <button type="submit">Next</button>
          </a>
        </div>
      </div>
      <div class="form-step">
        <div class="cc-form">
          <div class="card space icon-relative">
            <p class="totalPayment" id="totalPayment" ></p>
            <label class="label">Card holder:</label>
            <input type="text" class="input" placeholder="Example: Juan Dela Cruz">
            <i class="fas fa-user"></i>
          </div>
          <div class="card space icon-relative">
            <label class="label">Card number:</label>
            <input type="text" class="input" data-mask="0000 0000 0000 0000" placeholder="Card Number">
            <i class="far fa-credit-card"></i>
          </div>
          <div class="card-grp space">
            <div class="card-item icon-relative">
              <label class="label">Expiry date:</label>
              <input type="text" name="expiry-data" class="input" data-mask="00 / 00"  placeholder="00 / 00">
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="card-item icon-relative">
              <label class="label">CVC:</label>
              <input type="text" class="input" data-mask="000" placeholder="000">
              <i class="fas fa-lock"></i>
            </div>
        </div>
        <div class="pay-btn" id="pay-btn" onClick="payButton()">
          Pay Now
        </div> 

        <div id="smart-button-container">
          <div style="text-align: center;">
            <div id="paypal-button-container"></div>
          </div>
        </div>
        
        <div class="btns-group">
          <a href="#" class="btn btn-prev">Previous</a>
          <!--<a href="#" class="btn btn-next">Next</a> -->
        </div>
        
      </div>
      <!-- 
      <div class="form-step">
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <div class="input-group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
          />
        </div>
        <div class="btns-group">
          <a href="#" class="btn btn-prev">Previous</a>
          <input type="submit" value="Submit" class="btn" />
        </div>
      </div>
      -->
    </form>
    
  
</div>


    
</body>
<script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=EUR" data-sdk-integration-source="button-factory"></script>
<script src="../static/booknow.js"></script>
</html>

